.root {
  display: flex;
  flex-flow: column nowrap;
}

.row {
  display: flex;
  flex-flow: row nowrap;
}

.col {
  height: 32px;
  width: 32px;
  margin: 5px;
  font-family: serif;
  font-weight: 200;
  font-size: 32px;
  line-height: 1;
  color: black;

  &_fitVertical {
    height: auto;
    width: auto;
    margin: 2px;
    font-size: calc(100vh / 29 - 4px);
  }
}
